---
import HeroSection from '../components/HeroSection.jsx';
import Header from '../components/HeaderTech.jsx';
import AboutSection from '../components/AboutSection.jsx';
---
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>YamidTech</title>
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Libre+Baskerville:wght@400;700&display=swap" rel="stylesheet">
  </head>
  <body class="bg-light-gray text-dark-blue">
    <Header />
    <HeroSection />
    <AboutSection />
  </body>
</html>
