*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100%;
  background: #bdbdbd;
}
h4{
  padding: 2%;
}

ul li{
  list-style: none;
}
table, th, tr,td{
  border: 1px solid black
}