<footer class="bg-[#1E3A8A] dark:bg-[#0A0E17] py-6">
    <div class="container mx-auto text-center text-white">
      <p class="font-raleway">&copy; {new Date().getFullYear()} Yamid Horacio Rodriguez. Todos los derechos reservados.</p>
    </div>
</footer>
  