---
import { FaPython, FaHtml5, FaCss3Alt, FaJs, FaReact, FaGitAlt, FaGithub, FaServer, FaDocker } from 'react-icons/fa';
import { SiFlask, SiMysql, SiNodedotjs, SiMongodb, SiTailwindcss, SiDjango, SiTensorflow, SiPytorch, SiKubernetes } from 'react-icons/si';

const { nombre, icono, color } = Astro.props;

// Crear un objeto que mapee los nombres de los íconos a los componentes
const iconComponents = {
  FaPython,
  FaHtml5,
  FaCss3Alt,
  FaJs,
  FaReact,
  FaGitAlt,
  FaGithub,
  FaServer,
  FaDocker,
  SiFlask,
  SiMysql,
  SiNodedotjs,
  SiMongodb,
  SiTailwindcss,
  SiDjango,
  SiTensorflow,
  SiPytorch,
  SiKubernetes,
};

// Obtener el componente de ícono correspondiente
const IconComponent = iconComponents[icono];
---

<div class="flex flex-col items-center p-6 bg-[#e2e2e2] dark:bg-[#0F172A] rounded-lg shadow-lg hover:shadow-xl transition-shadow duration-300 h-full w-full max-w-xs">
    {IconComponent && <IconComponent class="text-6xl" style={`color: ${color};`} />}
    <p class="mt-4 text-[blue] dark:text-[#F6C453] font-bold text-xl font-raleway tracking-wide">
        {nombre}
    </p>
</div>
