#root{
  background: #bdbdbd;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
}

.items {
  box-shadow: 0 0 50px rgba(0,0,0,0.6);
  padding: 4%;
}

.amor{
  color: #ff9c39;
  color: #013a4e;
  color: #202020;
  color: #e27509;
  color: #e27509;
  color: #95fc98,#fceabb,#e7bd03,#e75703;
}
