.carousel {
  position: relative;
  overflow: hidden;
}

.slide {
  width: 100%; /* Cambiar el ancho para ocupar todo el espacio disponible */
  display: flex; /* Para que las imágenes se muestren en línea */
  transition: transform .7s ease;
}

.slide img {
  width: 100%; /* Ajusta el tamaño de la imagen al 100% del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background-color: rgba(255, 255, 255, 0.5);
  border: none;
  cursor: pointer;
  padding: 10px;
}

.prev {
  left: 0;
}

.next {
  right: 0;
}
